@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: BLACK;
}

h1,h2{
    /* text-align: center; */
    font-size: larger;
    font-style: italic;
    text-decoration: underline;
    font-weight: 600;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    word-break: break-all;
    overflow-wrap: break-word;
    display: inline-block;
    text-align: center;
}

.main_div1{
    text-align: center;
}

button{
    background-color: rgb(250, 6, 6);
    color: rgb(237, 233, 35);
    font-weight: 900;
    font-style: italic;
}
